.sneaker-details {
  @media only screen and (width <= $bp-mobile) {
    padding-inline: 1rem;
  }

  &__header {
    font-weight: 700;
  }

  &__subtitle {
    color: $clr-primary-orange;
    font-size: $fs-200;
    text-transform: uppercase;
  }

  &__title {
    color: $clr-dark-blue;
    font-size: $fs-800;
    text-transform: capitalize;
  }

  &__price-box {
    display: grid;
    grid-template-columns: repeat(2, min-content) 1fr;
    align-items: center;
    column-gap: 1.5rem;
  }

  &__actual-price {
    color: $clr-dark-blue;
    font-size: $fs-700;
    font-weight: 700;
  }

  &__discount-percent {
    padding: 0.3rem 0.7rem;
    background-color: $clr-primary-orange-pale;
    color: $clr-primary-orange;
    font-weight: 700;
    border-radius: 0.4rem;
    line-height: 1;
  }

  &__old-price {
    color: $clr-dark-blue;
    font-weight: 700;
    text-decoration: line-through;

    @media only screen and (width <= $bp-mobile) {
      justify-self: end;
    }

    @media only screen and (width > $bp-mobile) {
      grid-row: 2;
    }
  }
}
