.sneaker-carousel {
  position: relative;
  min-height: 50vh;
  overflow: hidden;

  &__button {
    width: 3.5rem;
    height: 3.5rem;
    background-color: $clr-white;
    border-radius: 50%;

    display: none;

    position: absolute;
    top: 50%;
    z-index: 3;
    translate: 0 -50%;

    @media only screen and (width <= $bp-mobile) {
      display: grid;
      place-content: center;
    }

    &--prev {
      left: 1rem;
    }

    &--next {
      right: 1rem;
    }
  }

  &__icon {
    scale: 0.7;
  }

  @media only screen and (width > $bp-mobile) {
    &__slides {
      margin-bottom: 2rem;
    }
  }

  &__slides,
  &__slide {
    height: 35rem;

    @media only screen and (width <= $bp-mobile) {
      height: 50vh;
    }
  }

  &__slide {
    width: 100%;

    position: absolute;
    top: 0;
    transition: translate 500ms;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;

    @media only screen and (width > $bp-mobile) {
      border-radius: 0.8rem;
    }
  }

  &__indicators {
    display: flex;
    column-gap: $column-gap-medium;

    @media only screen and (width <= $bp-mobile) {
      display: none;
    }
  }

  &__thumbnail {
    border-radius: 0.8rem;
    cursor: pointer;
    border: 0.2rem solid transparent;
    transition: all 0.3s;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &--active {
      opacity: 0.5;
      border-color: $clr-primary-orange;
    }
  }
}
