.sneaker-item {
  background-color: $clr-white;
  border-radius: 0.8rem;
  box-shadow: $shadow-card-900;
  overflow: hidden;
  transition: box-shadow 0.2s;

  &:hover,
  &:focus {
    box-shadow: $shadow-card-800;
  }

  &__details {
    padding: 2rem;
  }

  &__category {
    text-transform: uppercase;
    color: $clr-primary-orange;
    font-size: $fs-500;
    font-weight: bold;
  }

  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;

    & > a {
      font-size: $fs-600;
      font-weight: 700;
      color: $clr-dark-blue;
      text-decoration: none;
    }
  }

  &__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
}
