.cart-modal {
  background-color: white;
  border-radius: 1.2rem;
  box-shadow: $shadow-card-900;

  position: absolute;
  right: 0;
  top: 90%;
  z-index: -1;

  opacity: 0;
  transition: opacity 200ms ease;

  @media only screen and (width <= $bp-mobile) {
    margin-inline: 1rem;
    top: 115%;
  }

  &__head,
  &__body {
    padding: 2rem;
  }

  &__title {
    font-size: $fs-300;
    font-weight: bold;
    color: $clr-dark-blue;
  }

  &__items {
    margin-bottom: 2rem;
  }
}

.cart__button[aria-expanded="true"] ~ .cart-modal {
  z-index: 10;
  opacity: 1;
}
