.cart-item {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.6rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__image {
    width: 6rem;
    height: 6rem;

    & > img {
      border-radius: 8px;
      height: 100%;
    }
  }

  &__title {
    font-size: $fs-400;
    font-weight: 400;
    color: $clr-dark-grayish-blue;
    margin-bottom: 0.5rem;
  }

  &__details {
    display: flex;
  }

  &__amount {
    margin-left: 0.5rem;
    color: $clr-dark-grayish-blue;
  }

  &__total {
    color: $clr-black-light;
    margin-left: 1rem;
  }

  &__action:is(:hover, :focus) &__trash > use {
    fill: $clr-dark-grayish-blue;
  }

  &__fallback {
    font-size: $fs-300;
    color: $clr-grayish-blue;
  }
}
